<h1>Hello MVC</h1>

<style>
    h1{
        background-color: blue;
        font: size 200px;
    }
</style>

<script>
    console.log("Hello MVC");
</script>


@{
    int x = 10,y=20;
}


@if(x > y){
    <h1>x greater than y</h1>
}
else{
    <h1>x less than y</h1>
}



